[2015-01-22 08:11] jitendravyas opened #1 "{"ok":false,"error":"invalid_auth"}%"
I have generated token at this page https://api.slack.com/web#auth

But getting error when I try to confirm it

![1 zsh c32zo](https://cloud.githubusercontent.com/assets/77309/5852413/5d8129e2-a23c-11e4-9ab5-655b2856dd61.jpg)

[2015-01-22 08:19] jitendravyas opened #2 "Port 3000 is already in use"
I'm already using Port 3000 for a rails project. How to change the port to run this tool locally

[2015-01-22 15:52] outsideris commented on #1
You have to replace `TOKEN` part with your actual token.

[2015-01-22 15:52] #1 closed, assigned to nobody

[2015-01-22 15:54] outsideris commented on #2
You can change the port in [bin/www](https://github.com/outsideris/slack-invite-automation/blob/master/bin/www#L15) or set `PORT` environment variable.

[2015-01-22 15:54] #2 closed, assigned to nobody

[2015-02-13 05:02] jitendravyas opened #3 "Faild Paid only"
It seems that Slack has disabled auto subscribe facility. Every body is getting "Failed, paid only" message when user enter email and press enter

[2015-02-13 17:08] darrellsilver commented on #3
Yeah – just had this error, too. On both a new team and an old one.

[2015-02-13 17:11] outsideris commented on #3
Sadly, [slack blocked this api](https://twitter.com/levelsio/status/565922661994201088).

[2015-02-18 10:35] yhsiang commented on #3
[it works again](https://twitter.com/levelsio/status/566680559405903873)

[2015-02-19 19:03] outsideris commented on #3
@yhsiang I comfirmed it. Thank you for noticing it.

[2015-02-19 19:03] #3 closed, assigned to nobody

[2015-03-24 19:36] igauravsehrawat opened #4 "Getting Failed missing_scope on /invite page"
![missing_scope](https://cloud.githubusercontent.com/assets/3696327/6811046/1f0c9fbe-d28b-11e4-80b0-42437d3fba7a.png)

[2015-03-25 00:29] jeremychu commented on #4
If you run the curl example you'll probably see something like this:
{"ok":false,"error":"missing_scope","needed":"admin","provided":"identify,read,post,client"}

I haven't confirmed it although I suspect this means the bearer token you've generated isn't from a Team Admin user.

[2015-03-25 02:08] outsideris commented on #4
It looks slack invite api is changed. I will check it.

[2015-03-25 12:50] igauravsehrawat commented on #4
@jeremychu you are absolutely correct, didn't had admin permission .
@outsideris slack api is good.

[2015-03-25 12:50] #4 closed, assigned to outsideris

[2015-03-26 03:29] outsideris commented on #4
:+1:

[2015-07-05 19:08] DannyShort opened #7 "How can I style the form once deployed on Heroku"
I have deployed your mini app on heroic and it works perfectly i was wondering if there is a way to style the landing page just to make it look more visually appealing

[2015-07-06 16:24] outsideris commented on #7
You can change css in `views/index.jade`, and then  push it heroku's remote git repository.

[2015-07-06 16:24] #7 closed, assigned to nobody

[2015-09-19 07:49] kevin-lee opened #8 "Invitation fails with Failed! missing_scope"
I tested the invitation feature with a few different email addresses but none has succeeded.

I get `Failed! missing_scope` when using this app and the following result if I use `curl` command provided in the `README.md`.

[code]

I've already checked https://api.slack.com/tokens page and it says that the token has `admin` scope.

[2015-09-19 09:00] kevin-lee commented on #8
I'm not quite sure but it probably has something to do with Slack API itself.
https://twitter.com/SlackAPI/status/644943274558533632

[2015-09-20 06:16] kevin-lee commented on #8
Unfortunately, it's official now. :disappointed: Slack says it's an undocumented method so not supported. They're working on an alternative to the method but has no firm timeline for its release. sigh... :disappointed: I'm not sure what else can be done at this point. :(

[2015-09-20 15:55] ghost commented on #8
I hit the same problem - the code used to work but, when I saw this issue, I checked and found the same problem. Seems as if the tokens issued at https://api.slack.com/web#auth don't have the required "admin" in their scope list.

There is a work around, but I'm not sure if it abides by Slack's terms of service.  With a browser, log into Slack and go through the workflow to send an invite to someo

[2015-09-20 16:10] outsideris commented on #8
@hackscribble Yes, you are right. I fix it in local. I will update it soon.

[2015-09-20 17:10] #8 closed, assigned to nobody

[2015-09-20 17:46] kevin-lee commented on #8
I can confirm that it's fixed. It works well with the admin key not the owner one.
@outsideris, thanks a lot!

[2015-09-20 21:10] ivanoats commented on #8
How do we get the admin key instead of the owner one? Is there a URL to visit?

Thanks for fixing this BTW 😀

[2015-09-20 23:43] pthieu opened #9 "Failed! missing_scope"
Clicked the deploy button and quickly set up config vars on heroku. When I test with account, it gives me a `Failed! missing_scope` error. This is on newest code.

[2015-09-21 01:30] outsideris commented on #9
Use the token generted by an admin user, not an owner user. see #8

[2015-09-21 01:30] #9 closed, assigned to nobody

[2015-09-21 01:32] outsideris commented on #8
@ivanoats In `/admin`, you should make any user as admin. Then you sign in as that user and generate the token.

[2015-09-21 06:00] pthieu commented on #9
Confirmed working. Steps:
1. Create new user
2. Invite new user to Slack team
3. Make new user admin
4. Get API token from new user after admin rights granted
5. Switch the config over to new token

Not sure why we have to do this. But I guess Slack's doing some weird update.

[2015-10-13 18:51] vmitchell85 opened #12 "Typo in index.jade"
It says 'Enter you email...' instead of 'Enter your email...'

[2015-11-02 16:45] nedbat opened #13 ""Failed! already_in_team" is needlessly discouraging"
Shouldn't the message be: "Success! You are already in the team", with a link to get into Slack?

[2015-11-08 07:48] #12 closed, assigned to outsideris

[2015-11-16 16:58] #13 closed, assigned to outsideris

[2016-01-08 09:23] klaascuvelier opened #16 "Background is not full height"
Probably only an issue on higher resolutions, but I have a white bar at the bottom because the image height is too low.

[2016-01-08 10:54] #16 closed, assigned to nobody

[2016-01-19 15:19] ripper234 opened #18 "Slack Invite As a Service"
This service is cool!

What would be even cooler is if I as a user won't have to install anything.
Can you make that magic work?

[2016-01-19 19:14] outsideris commented on #18
Providing as a service needs server resourses. Does Heroku deploy button is not enough? Or, do you have any idea about that?

[2016-01-20 03:29] ripper234 commented on #18
Hmm, I just did the Heroku deploy - never imagined it would be so easy!
I guess this feature is nice to have but really really not critical, since Heroku deploy is so easy.

Closing for now.

[2016-01-20 03:29] #18 closed, assigned to nobody

[2016-01-20 04:10] ripper234 opened #19 "Error entering an email address"
After deploying, I get

"Failed! Something has gone wrong. Please contact a system administrator."

I see nothing in our logs

![image](https://cloud.githubusercontent.com/assets/172282/12439721/90206732-bf3c-11e5-9da7-523d2ac84d20.png)

[2016-01-30 09:01] synth commented on #19
This message is a bit cryptic, but if you look at the code, its thrown when the error comes back as "invalid_auth". In my case, I copy/pasted the token wrong; for some reason when I c/p'd it, the text also contained "Reissue token" and this wasn't visible to me by looking at heroku's settings in the web ui. You can see it if you "Edit" the setting however.

[2016-01-31 21:27] Oxyrus opened #20 "Error with email"
I can't manage the app to work, I tried deploying it directly to Heroku but it didn't work.

[code]

Is what I get, I tried then cloning the application directly from Heroku and setting up my configuration in the config.js file, then deployed it again and still didn't work.

What could be causing it?

Thanks!

[2016-01-31 21:31] Oxyrus commented on #20
## solved

I deleted the application and deployed it again and worked!

[2016-01-31 21:31] #20 closed, assigned to nobody

[2016-02-01 13:17] outsideris commented on #20
@Oxyrus Good!

[2016-02-01 13:23] outsideris commented on #19
@synth is right. I guess your token is wrong.

[2016-02-01 14:20] ripper234 commented on #19
Thanks, I'll check that.
On Feb 1, 2016 3:23 PM, "JeongHoon Byun (aka Outsider)" <
notifications@github.com> wrote:

[2016-02-11 13:33] #19 closed, assigned to nobody

[2016-02-24 21:44] Miserlou opened #24 "'slack' should be upper-cased"
"Enter your email below to join XXX on slack!"

should be

"Enter your email below to join XXX on Slack!

Small, but it's bugging me!

[2016-02-25 06:36] huntrar opened #26 "Typo in repo description"
A tiny web application to invite a user **info** your slack team.

Should be changed to user _into_.

[2016-02-26 03:47] outsideris commented on #26
I fixed it. :)

[2016-02-26 03:47] #26 closed, assigned to nobody

[2016-02-26 10:56] outsideris commented on #24
fixed in #25

[2016-02-26 10:56] #24 closed, assigned to nobody

[2016-03-13 04:53] tomatohunter opened #28 "Token?"
Is the "token" still called token on Slack? There is nothing called "token" in https://api.slack.com/web#auth. All I can do is register an app and generate api key/secret...with which the app fails with {"ok":false,"error":"invalid_auth"} no matter if the app was registered by owner or by admin user.

[2016-03-16 12:27] outsideris commented on #28
I think they still call it as "token".

<img width="688" alt="2016-03-16 21 23 54" src="https://cloud.githubusercontent.com/assets/390146/13812108/7385283a-ebbd-11e5-9405-abafa2fa6263.png">

Is your account owner for slack? (not admin user) I expect many issues are raised on this repository if Slack change the policy.

[2016-03-25 05:31] jlegrone opened #32 "Load Google fonts over https"
Necessary to fix this mixed content error:
`Mixed Content: The page at 'https://<app-name>.herokuapp.com/invite' was loaded over HTTPS, but requested an insecure stylesheet 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800'. This request has been blocked; the content must be served over HTTPS.`

[2016-03-25 05:59] jlegrone opened #33 "Remove 'to' from already_invited/already_in_team error message"
https://github.com/outsideris/slack-invite-automation/blob/master/routes/index.js#L38

[2016-03-28 11:41] outsideris commented on #33
@jlegrone Did you mean it should be "visit XXX", not "visit to XXX"?

[2016-03-28 15:08] jlegrone commented on #33
Yes, exactly!

On Mon, Mar 28, 2016, 4:41 AM JeongHoon Byun (aka Outsider) <
notifications@github.com> wrote:

[2016-03-29 02:00] sinesiobittencourt commented on #32
Hello,
I modified the http to https, waiting for the master validate.

Thanks.

[2016-03-30 14:46] #33 closed, assigned to nobody

[2016-04-20 13:33] ChappIO opened #38 "Guest invite"
Hello, would it be possible to use this app to invite guests?

[2016-04-21 16:59] v2k opened #40 "invite email not being sent"
Set this up on heroku, everything appears fine; curl test works.  It never sends the invite email.

SLACK_TOKEN set
INVITE_TOKEN empty

Nothing of note in the logs.

[2016-04-30 06:21] outsideris commented on #40
What did you means the invite email? There is no email system. @v2k

[2016-04-30 06:24] outsideris commented on #38
@thomasbiesaart  Did you mean to invite guest members or restricted members not full members? If so, it is not possible now. But I guess you can do it if you dig the slack API.

[2016-04-30 14:59] ChappIO commented on #38
I found it. You can invite single channel guests by only submitting one channel and setting the 'ultra_restricted' property to 1. Multi channel guests have the 'restricted' property to 1 instead. We decided to no longer use slack for our chat but I figured i'd share the information.

[2016-05-02 12:16] outsideris commented on #38
I got it. Thank you for your feedback.

[2016-05-02 12:16] #38 closed, assigned to nobody

[2016-05-02 19:40] v2k commented on #40
How does it invite the user then?

[2016-05-03 00:51] outsideris commented on #40
You can share the url of it in your community channel. It just make inviting someone into Slack without admin's approval.

[2016-05-08 09:58] outsideris commented on #32
resolved in #43

[2016-05-08 09:58] #32 closed, assigned to nobody

[2016-05-08 10:06] #40 closed, assigned to nobody

[2016-05-08 10:06] #28 closed, assigned to nobody

[2016-06-05 18:41] jtemporal opened #49 "Problem with pt-br translation"
Hi!
I cloned the repo and was testing it locally but when I set the locale to "pt" it still displays the page in "en".
Maybe I need to set another config?

[2016-06-21 19:10] kyleschmolze commented on #28
For anyone else who ends up here: Yes, you just use the test tokens, even though Slack tries to convince you never you use your test tokens for any real apps.

[2016-06-21 19:42] lpommers commented on #8
I just saw this issue again with an admin token... has this resurfaced for anyone else?

**Edit**: I had to ask for both `admin` and `client` in the scope when doing oauth

[2016-06-28 12:50] outsideris commented on #28
@kyletns 👍

[2016-06-28 13:06] #49 closed, assigned to nobody

[2016-06-28 13:09] outsideris commented on #49
@jtemporal It is because of `pt` file was broken. There was no `Header` field, so I added it as English. Could you fix it as Portuguese, because I don't know Portuguese.

[2016-07-24 14:52] mikeres0 opened #55 "Invite_Limit_Reached"
Hey guys,

I'm having an issue where upon sign up, the API returns an error stating `invite_limit_reached`. Is this something I need to take up with Slack? Or do you think there's a bug in the code?

I've taken a look around and couldn't see anything obvious...

[2016-07-26 16:31] mikeres0 commented on #55
Was an issue with Slack.

[2016-07-26 16:31] #55 closed, assigned to nobody

[2016-07-27 12:51] outsideris commented on #55
Good

[2016-08-06 01:24] MartynKeigher opened #56 "[REQ] Run as a Service on ubuntu"
Any guidance on this please?

Thanks.

[2016-08-29 14:29] outsideris commented on #56
You can use upstart or monit.

[2016-08-29 14:29] #56 closed, assigned to nobody

[2016-09-09 06:40] eddiejaoude opened #62 "Error: invite limit reached"
I haven't seen this error before, any ideas? `invite limit reached`

Screenshot here...
https://github.com/HackBrexit/hackbrexit.github.io/issues/24#event-782705715

[2016-09-10 12:33] outsideris commented on #62
@eddiejaoude I expect you found the reason. It's slack's policy.

[2016-09-10 12:33] #62 closed, assigned to nobody

[2016-09-15 18:26] jackmcdade opened #63 "Is it bot-proof?"
We used Slackin for our self-invite system and it got hit by a script bot and mass invited 9k email addresses to our account. There were a lot of angry people on Twitter that day.

Is there anything to throttle/prevent that from happening with this project?

[2016-09-26 13:23] getChester opened #64 "Failed! invite_limit_reached"
Is there a reason why?

[2016-09-26 15:03] outsideris commented on #64
It is Slack's policy. See, #55

[2016-09-26 15:03] #64 closed, assigned to nobody

[2016-09-26 15:05] outsideris commented on #63
Now, there is now preventing bot system. It is a good point. We need it.

[2016-09-28 22:43] jackiehluo opened #65 "Invite new users to specific channel automatically"
Is there a way to specify a specific channel for new users who are invited through this app? Not as single-channel guests—they can have access to any channel, but I want to make sure that they're a part of a specific one from the start.

[2016-09-29 17:23] outsideris commented on #65
I think it is not a part in this project. You can set default channels for new member in Slack settings.

<img width="979" alt="2016-09-30 02 21 19" src="https://cloud.githubusercontent.com/assets/390146/18964675/d949c13e-86b4-11e6-8d4d-ce817c720bc9.png">

[2016-09-29 17:41] jackiehluo commented on #65
Hey! Fair enough, but that's not exactly what I meant. I can't use the default channels feature in Slack because I want to be able to invite different groups of people to different channels upon joining (for instance, new members of a sales team join all of the sales channels by getting their invite at slack.company.com/sales).

[2016-09-29 18:33] outsideris commented on #65
In fact, invitation API is not an official API that slack support. I think it is possible to set channels to new users will be join as when I test the APIs. It is an interesting feature request.
Do you want to launch apps for groups separately, or give users to select groups that they want, in UI. I think latter is more hard to make for general purposes.

[2016-10-20 01:50] julianschiavo commented on #63
Recaptcha maybe?

[2016-10-20 01:51] julianschiavo commented on #65
Former maybe?

[2016-10-20 12:29] GiacomoLaw commented on #63
Hoping to see one. :smile:

[2016-10-20 12:30] julianschiavo commented on #63
check out:

https://dashboard.heroku.com/new?template=https%3A%2F%2Fgithub.com%2Fflexd%2Fslackinviter

It's a clone of slackin but in go to use 10x less memory and add recaptcha.

[2016-10-20 13:08] outsideris commented on #63
[recaptcha](https://www.google.com/recaptcha/intro/index.html) is a gool solution.

[2016-10-20 13:14] GiacomoLaw commented on #63
How can I add this to it?

[2016-10-20 13:16] julianschiavo commented on #63
this is a github repo that is a clone of slackin + racaptcha:

http://github.com/flexd/slackinviter

[2016-10-20 13:17] GiacomoLaw commented on #63
Can I add this to my existing server?

https://evernote-community.herokuapp.com

[2016-10-20 13:26] outsideris commented on #63
@GiacomoLaw You should your site on recaptcha and then follow google's instruction. As I remember, it is easy to use.

[2016-10-20 13:39] GiacomoLaw commented on #63
Okay, thank you!

[2016-10-20 13:56] GiacomoLaw commented on #63
@jaspergreenham I added it, however do not see the recaptha.

[2016-10-21 00:18] julianschiavo commented on #63
I checked the link you gave above, I see the recaptcha, is it working now?

(If you want to change css, I made one changing css, you can look at mine to see how: applenc.herokuapp.com).

[2016-10-25 18:14] julianschiavo commented on #63
You have to use the link I gave you, I also was not able to integrate into an existing inviter.

[2016-10-25 18:17] GiacomoLaw commented on #63
Managed to work it, thank you!

[2016-11-11 07:03] O1O1O1O commented on #63
The reCaptcha is nice but I like the invite code - I don't want random people to join unless they have the invite code.  I don't see a bot guessing a well-chosen invite code unless someone leaks it or gets their email hacked.  A combo of both would be awesome.

[2016-11-13 10:13] outsideris commented on #63
@O1O1O1O There is already `inviteToken`, see [config](https://github.com/outsideris/slack-invite-automation#configjs). I think this feature protected a page that doesn't use the invite token.

[2016-11-20 05:05] bikrdotnet opened #73 "Deploy to Heroku workers die"
I keep having to restart the app as the heroku workers die. Is this a known issue with a fix? This is a stock deploy to heroku instance and just doesn't stay alive

[2016-12-07 06:49] speaktoalvin opened #75 "Failed! Something has gone wrong. Please contact a system administrator."
When I click on Join after entering my email, I get this error message? I don't why. I have done everything properly.

[code]

[2016-12-17 13:37] outsideris commented on #75
You have to see the logs in your server.

[2017-01-05 04:10] jamesgraham commented on #75
The logs from Heroku:

[code]

[2017-01-06 20:48] tashavanes commented on #75
getting same error in title, logs are similar:

2017-01-06T20:30:48.669953+00:00 heroku[router]: at=info method=POST path="/invite" host=fiftyonepercent.herokuapp.com request_id=127d3430-5b29-4259-9568-b3cf912577db fwd="75.134.78.106" dyno=web.1 connect=0ms service=44ms status=200 bytes=866
2017-01-06T20:30:48.721964+00:00 heroku[router]: at=info method=GET path="/css/style.css" host=fiftyoneperce

[2017-01-26 13:52] OKNoah opened #77 "Error:Error: getaddrinfo ENOTFOUND https https:443"
When deploying on Dokku, I get this error after entering an email address and hitting enter.

[code]

It's just a white page with black text, the browser location is at `/invite`.

Would this happen if my token wasn't from an admin account or something?

[2017-01-28 09:13] outsideris commented on #77
Can you show me the stacktrace?

[2017-02-06 05:31] NicolasDorier opened #79 "Error with Deploy To Azure"
[code]

Any idea ?

[2017-02-23 20:03] stefek99 opened #80 "Is there a way to change background when deployed directly to Heroku?"
Just wondering if there is such an option.

In the meanwhile cloned the repo, change a few bits and then manually deploy.

[2017-03-03 01:27] CBenni opened #83 ""client" permission required"
So I tried to set this up, but when attempting the curl request, I got the following response:

`{
    "ok": false,
    "error": "missing_scope",
    "needed": "client",
    "provided": "admin,identify,users.profile:write"
}`

Apparently slack now requires client permissions? I replaced the token with the token I grabbed by opening the slack app devtools, and it worked fine.

Probably not much you

[2017-03-08 02:35] arahansa commented on #83
Hi I think.. When you install Slack app.. You need add client permission manually..

for example.. in your slack app page, `Settings - Install app` menu..
you can see this `Install App` button.. copy the link of that button and
![2017-03-08 11 32 52](https://cloud.githubusercontent.com/assets/6437210/23687677/06eaf750-03f3-11e7-9161-3a1d8c680ee1.png)

 you can see that link like this..
[code]

you

[2017-03-08 03:19] CBenni commented on #83
Ah, interesting, ill try that out; Didnt really expect that to work. Thanks!

[2017-03-22 18:22] jonchui commented on #4
@jeremychu @outsideris we're getting the same error, but i'm an "Owner" and "Admin" of the team. how do i make myself "team admin"?

![image](https://cloud.githubusercontent.com/assets/204868/24214120/b1945d78-0ed8-11e7-99f4-29ed3b127cc4.png)

[2017-03-31 15:09] xeniacx commented on #79
I have exactly the same issue:

![deploy-erro](https://cloud.githubusercontent.com/assets/574301/24556462/18298976-163d-11e7-937f-a8eb6755e3ef.jpg)

[2017-04-03 03:17] jm3 opened #86 "link in README to Socket.io's Slack page is 404"
https://socket.io/slack/ :(

[2017-04-04 05:24] fstltna opened #87 "Getting the missing_scope error in admin account"
I created a admin user, not owner user, and tried to create the API key but I get the missing_scope error anyway. Any help on this? I'm using the latest version from this repo...

[2017-04-13 09:36] ChrisAnn commented on #79
Same.  Any idea of a fix?

[2017-04-26 22:39] JakeDEvans opened #90 "Docker in subfolder"
Can the app exist in a subfolder using your dockerfile?

something like www.domain.com/chat/

Clicking join takes you to www.domain.com/invite and not www.domain.com/chat/invite

Thank You,
-Jake

[2017-04-28 02:37] 1mintee1 commented on #87
Same, any update?

[2017-05-03 15:13] ghost commented on #83
Thank you! Plus one for the solution.

[2017-05-07 15:59] ghost commented on #80
I'm trying to do the same. I also tried cloning the git repository from heroku, but it says "you seem to have cloned an empty repository".
I can't see any files there.

[2017-05-09 07:17] ghost opened #91 "Azure Deploy issue"
Hi, I got issue during deploy via Azure Deploy:
The request content was invalid and could not be deserialized: 'Could not find member 'default' on object of type 'TemplateInputParameter'. Path 'properties.template.parameters.siteLocation.default', line 15, position 21.'.

For your information I used all default values and I added tokens, slack team name.

[2017-05-09 07:19] ghost commented on #79
I got the same error. :\

[2017-05-19 15:11] dankeller commented on #83
Worked! May need to update the readme.

[2017-06-06 10:50] #83 closed, assigned to nobody

[2017-06-06 10:50] outsideris commented on #87
Did you see #83 ?

[2017-06-06 10:50] #87 closed, assigned to nobody

[2017-06-06 11:04] outsideris commented on #86
fixed in https://github.com/outsideris/slack-invite-automation/commit/3f5c943cbd35422ab2d38f661039abb1ae04dcec

[2017-06-06 11:04] #86 closed, assigned to nobody

[2017-06-09 14:30] rcstr commented on #80
Same here, any luck?

[2017-06-11 09:25] outsideris commented on #87
I updated README. Please check https://github.com/outsideris/slack-invite-automation#issue-token .

[2017-06-11 09:25] outsideris commented on #83
I updated README. Please check https://github.com/outsideris/slack-invite-automation#issue-token .

[2017-06-16 04:16] xuanzi23 opened #95 "Heroku Deploy issue"
Hi, I want to ask only the paid slack account can use this? Why I keep getting application error?

[2017-06-16 04:23] #95 closed, assigned to nobody

[2017-06-16 04:50] xuanzi23 commented on #80
waiting for the answer.

[2017-06-30 04:43] sabhiram commented on #80
Check out my fork of the project, it should have provisions to supply your own custom css for the landing page.

[2017-07-01 10:15] rwieruch opened #96 "Deploy on Dokku without SSL redirects to https://"
I followed all the installation steps from the respository and I am able to run the slack invitation locally.

However, now I want to deploy it to my Dokku platform. I didn't specify a **Procfile** for Dokku, because I think that the **Dockerfile** should suffice for the deployment.

When I try to access the page now on my subdomain, `http://my-slack-invitation.my-domain.com`, I get a redirect to

[2017-07-01 10:56] rwieruch commented on #96
After debugging it for several hours, I only had to comment a one-liner in the **Dockerfile**. For anyone who runs in this issue as well using Dokku and the Dockerfile:

[code]

[2017-07-02 12:14] #96 closed, assigned to nobody

[2017-07-12 15:30] frenchmouss opened #97 "Vulnerable Node.js"
Juste received a mail from Heroku warning the node.js used for the application may be outdated and as such at risk of DoS attacks.
Do we know if the application is up to date?
Thanks in advance!

[2017-07-13 02:32] shiftplusplus commented on #97
Email text:

`$ heroku run node -v -a APPNAME`

`$ git commit --allow-empty -m “upgrade Node.js version"$ git push heroku master`

`$ heroku run node -v -a APPNAME`

 

[2017-07-13 07:36] millerjp commented on #97
Yeah - I got this also. The app is running on a vulnerable version for sure so needs to be updated. Do we know if this is going to happen or should I fork it?

[2017-07-13 08:31] chemix commented on #97
I think application is fine, but node version at heroku is my problem. Via console I get information that node is in v6.10.1 version. But I don't know how to node.js update to stable secure version, because the manual in email from heroku doesn't work for me. I clicked at "Heroku deploy" button. Any suggestion?

[2017-07-24 06:22] beemyfriend commented on #75
When this came up for me it was because i had used the wrong slack token. Slack offers a bunch of different tokens for a bunch of different things...

[2017-07-30 07:20] johnnymestizo commented on #75
so which token am I meant to use?

[2017-07-30 15:25] beemyfriend commented on #75
I actually forget, but I think I followed the following comment:

[code]

[2017-08-04 16:53] outsideris commented on #97
It's is heroku issues rather than this application. you can re-deploy it on heroku.

[2017-08-04 16:53] #97 closed, assigned to nobody

[2017-09-01 15:24] cfontan opened #103 "Error scope_missing on submit of email address Heroku"
I read the comments in https://github.com/outsideris/slack-invite-automation/issues/8  and created a new user, added admin, created new app and generated an API token with Admin in the scope to no avail.

https://ladevs.herokuapp.com/invite

[2017-09-01 15:30] bkhouri commented on #103
I don't know what our issue is, but I personally had to issue a Legacy tokens to get the app working.

[2017-09-01 15:41] cfontan commented on #103
Thank you for that tip.. That worked!

[2017-09-01 15:41] #103 closed, assigned to nobody

[2017-09-26 10:41] rynomster commented on #63
Our community was getting overwhelmed by bots so we added #106, in case anyone wants to use it.

[2017-09-29 10:39] MichMich commented on #77
For anyone having the same issue. Make sure the SLACK_URL only contains the domain (eg: mychannel.slack.com) without the `http://` part.

[2017-09-29 14:51] #63 closed, assigned to nobody

[2017-10-01 11:37] #77 closed, assigned to nobody

[2017-10-03 00:41] csethna commented on #80
Somewhat similar, I want to add a link to our code of conduct underneath the email field. Is there an "index" file or something that I'm missing?

[2017-10-10 02:02] AnEmortalKid commented on #80
@csethna  maybe around here? https://github.com/outsideris/slack-invite-automation/blob/master/views/index.jade#L18

[2017-10-10 02:14] AnEmortalKid commented on #80
So, I cloned from git and then pushed to heroku. I Found that the background is named `bg.jpg` and is a 3000x1024 image. Located in public/images. If you replace that with an image called bg.jpg it should load:

![image](https://user-images.githubusercontent.com/3474369/31366381-33f1987a-ad36-11e7-9d0e-6cc187724443.png)

In fact, you can add any image named bg.jpg it looks like (and muck around wi

[2017-10-16 10:55] vinay1591 opened #107 "files.upload issue"
I wanted to get a command to upload files to slack and found this : [https://api.slack.com/methods/files.upload](url)

When I am trying to upload a file by following instruction, link https://slack.com/api/files.upload is reading nothing but error:
{"ok":false,"error":"not_authed"}

Please be notified that I am passing token in my command.
command I am running:
curl -F file='/home/testsend.txt' -F

[2017-10-20 11:05] ghost opened #108 "how do I work with reCaptcha ?"
Can you please elaborate with an example ?

Thx!

[2017-10-20 11:21] ghost opened #109 "Dutch locale"
I translated this for you in Dutch ; can you add ?

{
  "HEADER": "Voer uw email adres in om deel te nemen aan %s op Slack!",
  "ENTER_EMAIL": "Voer uw email adres in",
  "ENTER_TOKEN": "Voer het token in dat u kreeg bij uw uitnodiging",
  "TITLE": "Neem deel aan de %s gemeenschap op Slack!"
}

[2017-10-24 07:23] vinay1591 commented on #107
Command is perfect, I was just using the wrong token number. Closing the issue as this is no more exist.

[2017-10-24 07:23] #107 closed, assigned to nobody

[2017-10-28 05:52] outsideris commented on #109
Could you make a pull request?

[2017-10-30 14:26] outsideris commented on #109
Closed by https://github.com/outsideris/slack-invite-automation/pull/110

[2017-10-30 14:26] #109 closed, assigned to nobody

[2017-11-02 09:52] aboros opened #111 "How to contribute a new translation?"
Thank you for this great app, i really like it. We use it for invites for a small Hungarian tech community channel. It would be nice if there was a Hungarian translation available, which i am happy to contribute, i am just not too familiar with apps like this one, so i would really appreciate a little guidance about how to add new translations.

Thanks,
Adam

[2017-11-03 11:40] outsideris commented on #111
I close this because PR is opened. I think you know it now.

[2017-11-03 11:40] #111 closed, assigned to nobody

[2017-11-19 12:43] iloabn commented on #91
I'm receiving the same issue when trying to deploy to Azure.

Is there any other information that is needed from us that are experiencing the issue or some tips on where to start when troubleshooting it?

[2017-12-05 07:51] NicolasDorier commented on #79
@outsideris still maintaining?

[2017-12-05 08:24] outsideris commented on #79
@NicolasDorier Yes. but I've not been use Azure ever.

[2017-12-18 05:28] rwieruch opened #114 "SVG Badge for GitHub README.md"
Are there any plans to implement a SVG Badge that can be used in a GitHub README.md of a project afterward?

Like in this project: https://github.com/parcel-bundler/parcel
And this badge: https://slack.parceljs.org/badge.svg

Would love to see that feature for this project too :)

[2017-12-21 05:58] outsideris commented on #114
Do you want a SVG badge of this project to use it on other websites? What kind of information on badge do you want? user count?

[2017-12-22 08:19] rwieruch commented on #114
Yes. GitHub README.md would be most important though. Otherwise it may just say: [Slack 18/213] Do you think it is feasible?

[2017-12-23 09:35] outsideris commented on #114
Yes, I think it is feasible because slackin already has it. I should read slack's API document.

[2017-12-23 09:36] rwieruch commented on #114
Would be great to have it! I assume many people would use it. There are already a couple of my own repositories where I would use it :)

[2018-01-08 16:48] #114 closed, assigned to outsideris

[2018-02-15 19:53] trp07 commented on #114
Does this feature work?  I just deployed this to heroku, but I'm not seeing the badge appear.  If I understood it correctly, is the badge url supposed to be:

https://myAppName.herokuapp.com/badge.svg  (not my actual url)

Thanks!  Great product by the way!  It was very easy to deploy.  Thank you for putting it together!

[2018-02-16 20:55] trp07 commented on #114
Nevermind.  I had an issue with the token.  It is working now.  Great Project.  Thank you for making this!

[2018-02-17 09:22] outsideris commented on #114
@trp07 Good!

[2018-05-20 18:24] CKGrafico commented on #79
nothing yet?

[2018-05-25 10:23] klakegg commented on #90
Any news here? This is a showstopper for using this software.

[2018-05-30 16:57] #90 closed, assigned to outsideris

[2018-05-30 16:57] #108 closed, assigned to nobody

[2018-05-30 19:01] outsideris commented on #79
fixed in 1e25ee648a89bc8ee7b05db3510e7ac55dfad1c1

[2018-05-30 19:01] #79 closed, assigned to nobody

[2018-05-30 19:01] outsideris commented on #91
fixed in 1e25ee648a89bc8ee7b05db3510e7ac55dfad1c1

[2018-05-30 19:01] #91 closed, assigned to nobody

[2018-06-22 02:28] morenoh149 commented on #75
you'll want to set your oauth token for `SLACK_TOKEN`, you can do this on an already deployed heroku project by going to settings > config vars. The token is of the form `ffoof-5411524512154-16875416847864648976-4564bar4654654654-444334f43b34566f`.
![screen shot 2018-06-21 at 10 25 39 pm](https://user-images.githubusercontent.com/587438/41754879-658c84dc-75a2-11e8-84b5-ae66f8d569c4.png)

_NOT_ the

[2018-06-22 03:00] morenoh149 commented on #73
you need to ping the dyno every so often to prevent it from idling, there are several solutions here https://stackoverflow.com/questions/5480337/easy-way-to-prevent-heroku-idling Not an issue

[2018-06-22 03:02] morenoh149 commented on #80
@stefek99 is your issue solved?

[2018-06-25 22:04] stefek99 commented on #80
I think I did exactly the same.

[2018-06-26 01:08] morenoh149 commented on #80
you'd need to clone, make a change, commit the change to version control, and then do `git push heroku master` as heroku usually depends on git for updates

[2018-06-26 08:56] stefek99 commented on #80
The issue says:

The description of the issue:

I do not remember the exact process of deploying, maybe there is a place for a config variable here or there... (such as an API key)

Directly to Heroku means clicking on a button "deploy to Heroku", deploying directly to Heroku:

![image](https://user-images.githubusercontent.com/249703/41900434-053e1a2e-792f-11e8-8111-8861b6a6b0cb.png)

No worries,

[2018-06-26 08:56] #80 closed, assigned to nobody

[2018-06-26 19:25] morenoh149 commented on #80
@stefek99 indeed, I too found out I had to associate the heroku app with a fork of the repo after the fact, we've improved the readme at https://github.com/outsideris/slack-invite-automation#associate-fork-with-heroku recently. Hope it helps.

[2018-07-09 18:22] #75 closed, assigned to nobody

[2018-08-03 03:33] fixanoid opened #119 "Error when deploying lambda AWS with custom domain name."
Followed instructions, set up custom domain name in the API gateway, but when landing on the custom domain I see this error:

[code]

What did I do wrong? Thanks!

[2018-08-15 11:58] #73 closed, assigned to nobody

[2018-11-03 10:00] securisec commented on #114
@outsideris any tip on where to put the badge.svg tag in source? i am not fully sure.

[2019-01-17 22:54] gabedeko opened #121 "Setting up API Gateway + Lambda + CloudFormation"
Hello,

I am fairly new to the technologies listed in the title of this issue but I have been using AWS for things like S3 and EC2 from some time now. So far I've successfully created an API in API Gateway with the `api-swagger-template.json` file but have also been going through the process of setting up Lambda and CloudFormation for some time now but keep getting stuck. Would someone be kind eno

[2019-01-21 03:14] outsideris commented on #121
@lafiosca Could you help this?

[2019-01-21 03:19] gabedeko commented on #121
Thanks @outsoderis I decided to use AWS Serverless Express which actually worked perfectly!

https://github.com/awslabs/aws-serverless-express

[2019-01-21 03:19] #121 closed, assigned to nobody

[2019-01-21 03:21] outsideris commented on #121
@gabedeko Great!

[2019-01-21 05:46] lafiosca commented on #121
@gabedeko Did you mean that you deployed this project using that, or were you building an app of your own? The directions in the README should be sufficient for deploying this project, but if they were not, I'd like to know where the gaps are. Thanks.

[2019-01-22 17:49] gabedeko commented on #121
@lafiosca I was mostly referring to the confusing UI of AWS and their multiple apps.

In number 3 of your steps you say to

Maybe it's jut me but it doesn't seem very obvious what I'm running that on or how one should go about doing it.

[2019-01-22 18:32] lafiosca commented on #121
Thanks for the feedback, @gabedeko. Honestly, the directions are a bit brief, but that step relies on the pre-requisite mentioned before the list: "If you have an AWS account and have already installed and configured the AWS CLI tool". There could certainly be more detail added to explain that part, or at least a link to further documentation. If you have the AWS CLI tool set up locally on a compu

[2019-01-25 18:23] gabedeko commented on #65
Hello,

Has there been any update or progress on this feature? I would like to invite users to a specific channel as a guest.

Thanks.

[2019-02-04 17:21] jandreaucodes commented on #65
I just forked this to do precisely that.

In /routes, edit index.js and below:
`token: config.slacktoken,`
add:
`ultra_restricted: true,
            channels: config.channel`

Then in your config.js, add:
  `channel: 'CHANNEL ID HERE'|| 'What channel should the user auto join?',` (Note, you must use channel ID, not channel name)

(Put that anywhere in config.js between the opening and closing curl

[2019-02-21 23:41] eviert opened #123 "Error Code documentation"
Is there any documentation on the error codes posted by the app. e.g. scope not defined, Failed not_allowed?

[2019-02-22 05:24] outsideris commented on #123
Usually this app just pass errors from Slack. You should see Slack document.

[2019-02-22 05:24] #123 closed, assigned to nobody

[2019-02-23 00:27] eviert opened #124 "Add the options to invite guests in multichannel"
Currently:

You can invite an email. You cannot specify its a multi channel guest or single channel guest.

Enhanced functionality:
Can we add functionality to select the type of guest being invited and specify the channels?

[2019-08-12 09:06] maxleistner commented on #124
Would be an awesome feature. Invite guests to one specific channel only. (only Standard or Plus Plan feature of course)

[2019-08-29 19:59] lanaschuhmacher opened #133 "Google Cloud Platfrom & Hetzner"
Can I install your software on the [Google Cloud](https://cloud.google.com/) or [Hetzner.cloud](https://github.com/hetznercloud/awesome-hcloud)?
Maybe you have some ideas regarding Hetzner, @thcyron & @LKaemmerling?
Thanks!

[2019-09-02 04:48] LKaemmerling commented on #133
Hey @lanaschuhmacher,

you can deploy on our Hetzner Cloud everything you want. You are not limited. You can just create a server, access the server via ssh, install nodejs, clone and run this repo.

[2020-02-02 01:37] leopolicastro opened #136 "Failed! no_perms"
What does this error message mean?  I put in a correct auth token but it is not working for me.

[2020-02-10 05:54] barklund opened #138 "AWS Node version is unsupported"
The nodejs version specified (`nodejs8.10`) for AWS [is now unsupported (as per Jan 6, 2020)](https://aws.amazon.com/blogs/compute/node-js-12-x-runtime-now-available-in-aws-lambda/). Attempting to deploy to AWS gives this error:

[code]

Updating to `nodejs12.x` as suggested in [sam-template.json](https://github.com/outsideris/slack-invite-automation/blob/master/aws/sam-template.json#L55) seems to

[2020-02-24 18:28] Bogidon commented on #65
^
• note, channel id not name
• and if you're deploying to aws, change sam-template.json and deploy.sh too

[2020-03-29 11:38] samvv opened #142 "Cannot automatically deploy to Heroku"
It seems the button is broken. Not sure what's wrong; maybe the URL changed? Anyways, thank you so much for making this app!

[2020-05-07 04:32] ozbillwang opened #143 "when deploy to heroku, get error: Legacy tester tokens may no longer be created."
follow the instruction to create a new stack in heroku. but when try to generate legacy token, I got this error.

    Legacy tester tokens may no longer be created.

How can I get the token now?

![image](https://user-images.githubusercontent.com/8954908/81254861-98599a00-906f-11ea-9c9d-351e5b375806.png)

[2020-05-08 18:39] allyraza commented on #143
facing the same problem can no longer create a legacy token

[2020-05-21 01:07] ozbillwang commented on #143
even for the exist slack channel which I had token actived, Slack starts taking them back.

==============================
Slack Support (Slack)

May 20, 2020, 1:23:51 PM PDT

Hi there,

We've noticed that an API tester token associated with your account on xxx.slack.com has not been used in a while. You may have generated this token to simply test our API methods or used it in an app to access yo

[2020-06-02 19:45] crosbygw commented on #114
I noticed our badge always displays zero for number of active users: IE 0/2059.
Anyone else have this issue?
Any help would be appreciated.

[2020-06-03 07:54] rwieruch commented on #114
I have this issue a few months now. Thought it would be my setup, but I am curious if others run into this as well!

[2020-06-04 00:50] integratedcloudnative commented on #75
@morenoh149 How you generate the slack_token ?

[2020-06-04 02:11] rkamudhan commented on #9
@pthieu @outsideris How you resolved it? I create a new user and added it as admin and given API token of it in Heroku. But I am still getting the error "Failed! missing_scope"

[2020-06-04 06:57] morenoh149 commented on #75
Legacy tokens may no longer be created https://api.slack.com/legacy/custom-integrations/legacy-tokens

instead create an app https://github.com/outsideris/slack-invite-automation#oauth-tokens

[2020-06-08 12:59] jordanvanbergen commented on #143
So we all can't use this solution any longer?

[2020-07-15 06:53] tgamblin commented on #114
I also have the 0/nusers issue.

[2020-07-21 19:15] joelbrock opened #144 "Require Admin Approval"
Any way to hold these invites for admin approval?  I have this setting enabled on the Slack Workspace, but this app appears to bypass that and directly add to the workspace.

![image](https://user-images.githubusercontent.com/52835/88096604-c8cbb300-cb4b-11ea-924c-5f1985d2973e.png)

Using: deploy to heroku

Also, thank you for this FABULOUSLY useful (and useable) tool!

[2020-07-24 15:19] mithro opened #145 "Instructions on setting up the docker image on Google's Containers on Compute Engine?"
Hi!

You wouldn't happen to have any instructions on how to set up this app to run on [Google's Containers on Compute Engine](https://cloud.google.com/compute/docs/containers) or [Google Cloud Run](https://cloud.google.com/blog/products/serverless/announcing-cloud-run-the-newest-member-of-our-serverless-compute-stack)?

I think I can just follow the ["Migrating NodeJS Apps from Heroku to C;oud Run

[2020-08-12 20:31] allomorphy opened #146 "Failed! missing_scope ERROR"
Hi Folks, neat App,

I installed fine through downloading and executing the docker container.

Then I accessed with a browser and received the error:
`Failed! missing_scope` in the browser.

I cannot access more than this as logs from the container:
`POST /invite 200 1110.118 ms - 624
GET /css/style.css 304 3.993 ms - -
GET /images/bg.jpg 304 1.094 ms - -`

In the **Oauth & Permissions Page** at /

[2020-09-29 10:04] ThomasLachaux commented on #146
Hello ! Any update on this issue ? ;)

[2020-10-26 11:06] kindofone commented on #146
@allomorphy @ThomasLachaux did any of you solve this? I have the same issue.

[2020-11-20 16:55] elimcjah commented on #146
@kindofone @ThomasLachaux @allomorphy, did any of you find an alternative solution?

[2020-11-20 21:27] kindofone commented on #146
@elimcjah I didn’t invest time in trying to solve this. So, nothing on my end 🤷‍♂️

[2020-12-14 17:03] danielmoralesp commented on #146
Hi guys, I'm having the same issue here, an I tried adding a new Scope under User Token Scopes

![Screenshot from 2020-12-14 11-59-48](https://user-images.githubusercontent.com/2589699/102111048-eacc1780-3e03-11eb-8c4b-4de55c08c38e.png)

I added the scope "Invite members to a workspace and approve or deny invitation requests" and tried to "Reinstall to Workspace", bu I get the nex request by Slack

[2021-01-16 09:09] gionn commented on #146
Looks like that this project is not working anymore for new installs.

[2021-01-19 12:56] Matvey-Kuk commented on #146
Same here, can't use it for the fresh community

[2021-02-06 12:35] davidzollo commented on #146
+1
same issue

[2021-02-08 15:12] bipin-rudder commented on #146
+1
curl -X POST 'https://YOUR-SLACK-TEAM.slack.com/api/users.admin.invite' \
 --data 'email=EMAIL&token=TOKEN&set_active=true' \
 --compressed
 is giving : {"ok":false,"error":"missing_scope","needed":"client","provided":"admin,identify"}%

 To give the client scope : tried this https call
 https://slack.com/oauth/authorize?&client_id=CLIENT_ID&team=TEAM_ID&install_redirect=install-on-team&scope=a

[2021-02-08 15:16] bipin-rudder commented on #83
The issue seems to be still present. Above approaches are failing to work : https://github.com/outsideris/slack-invite-automation/issues/146#issuecomment-775217681.
Any one able to get past through this?

[2021-02-10 21:12] ceddybi commented on #146
+ same

[2021-03-01 12:11] martinkennelly commented on #146
I think this issue does not go away. If you do not have legacy token, then the OATH token is broken for _free_ slack users. Enterprise slack users may enjoy the benefit of this project only.

[2021-04-14 20:16] tom-geraghty commented on #146
Same issue - "This app can not be installed on this workspace. Apps with this feature are only available to Enterprise customers."
![image](https://user-images.githubusercontent.com/26304259/114773171-9c556800-9d66-11eb-8f17-b791b83cd858.png)

[2021-06-04 11:23] cedricve commented on #146
Just tried, doesnt work indeed.

[2021-07-30 04:12] sheidaei commented on #146
Did not work for me either. I lost the legacy token too.

[2021-08-19 11:05] kms0219kms commented on #146
Did not work for me either. I can't make the legacy token too.

[2021-08-24 10:46] sandhuharjodh commented on #146
Any updates?

[2021-08-25 09:27] kms0219kms commented on #146
No. This bug is not this application.
Slack's bugs.

[2021-11-24 21:14] StefanWallin commented on #146
I'm using this as a workaround:
https://github.com/outsideris/slack-invite-automation/pull/149

[2021-11-24 21:14] StefanWallin commented on #144
You could use this as a workaround:
https://github.com/outsideris/slack-invite-automation/pull/149

[2021-11-24 21:14] StefanWallin commented on #143
You can use it with this workaround:
https://github.com/outsideris/slack-invite-automation/pull/149

[2021-11-24 21:15] StefanWallin commented on #136
Maybe you can use this workaround?
https://github.com/outsideris/slack-invite-automation/pull/149

[2022-06-15 00:16] nchaimov opened #151 "Can't add app with admin privileges to non-Enterprise Slack server"
I've been trying to set this up on Heroku with a Slack server. Everything works until I get to the part 4 of the "OAuth tokens" part of the instructions where I am instructed to install the app to the workplace. When I do this, I get an error that this can't be done except by Enterprise customers.

I also tried the Legacy Tokens approach but found that the ability to generate new Legacy Tokens has